{% block content %}
    <h1>Current Orders</h1>
    {% if orders %}
        <p>Total Orders: {{ orders|length }}</p>
        <ul>
            {% for order in orders %}
                <li>
                    {{ loop.index }}:
                    <ul>
                        {% for item, quantity in order[0] %}
                            <li>{{ quantity }} x {{ item }}</li>
                        {% endfor %}
                    </ul>
                    Table Number: {{ order[2] }} <!-- Add table number for each order -->
                    Order time: {{ order[1] }}
                    <form action="{{ url_for('clear_order', index=loop.index0) }}" method="post">
                        <button type="submit">Clear</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders have been placed.</p>
    {% endif %}
{% endblock %}