/* Navbar styles */

.navbar {
    background-color: #ffdd00;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu-item {
    margin-right: 20px;
}

.navbar-menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s ease-in-out;
}

.navbar-menu-item a:hover {
    color: #f443
}